.footer {
    background-color: $veryDarkViolet;

    .booster {
        background-color: $darkViolet;
        background-image: url('/images/bg-boost-mobile.svg');
        background-position: center right;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        @include breakpoint-up(large) {
            background-image: url('/images/bg-boost-desktop.svg');
        }

        h2 {
            color: white;
        }
        &__button-bckg {
            background-color: white;
            border-radius: 30px;
            width: 65%;
            margin: 0 auto;

            @include breakpoint-up(large) {
                width: 15%;
            }

            .button {
                height: 55px;
                width: 100%;
    
                @include breakpoint-up(large) {
                    height: 50px;
                    width: 100%;
                    margin: 0px;
                }
            }
        }
    }

    .links {
        text-align: center;
        padding-bottom: 2.5rem;

        @include breakpoint-up(large) {
            display: flex;
            justify-content: space-between;
            text-align: left;
        }

        a:hover {
            color: $cyan;
        }

        &__logo {
            flex: 2;
            img {
                width: 55%;
                height: 55%;
                margin-bottom: 0.5rem;
                filter: brightness(0) invert(1);

                @include breakpoint-up(medium) {
                    width: 25%;
                }
                @include breakpoint-up(large) {
                    width: 45%;
                    height: 45%;
                    margin-bottom: 0rem;
                }
            }
        }
        &__options {
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 1.5rem; 
        }
        &__socials {
            display: flex;
            flex: 1;
            gap: 25px;
            margin-top: 4rem;
            justify-content: center;

            a {
                img:hover {
                    filter: invert(0%) sepia(200%) saturate(3000%) hue-rotate(125deg) brightness(100%) contrast(70%);
                }
            }
            
            @include breakpoint-up(large) {
                margin-top: 1.5rem;
            }  
        }
        h3 {
            color: white;
        }
    }
    .attribution {
        background-color: rgb(22, 17, 27); 
        padding: 1rem; 
        font-size: 0.8125rem; 
        text-align: center; 

        a { 
            color: hsl(228, 13%, 60%); 
            &:hover {
                color: $cyan;
            }
        }
    }
}