.header {
    //border: 1px solid orchid;
    z-index: 1;
    &__logo {
        //border: 1px solid purple;
        img {
            height: 32px;

            @include breakpoint-up(large) {
                margin: 0px 2.8125rem -15px 0px;
            }
        }
    }
    &__hamburger {
        > span {
            display: block;
            width: 24px;
            height: 3px;
            background-color: $grayishViolet;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }
    &__menu {
        position: absolute;
        width: 90%;
        background: $darkViolet;
        border-radius: 5px;
        //padding: 2.8125rem;
        //margin-top: 1.25rem;
        left: 50%;
        transform: translate(-50%);

        a {
            display: block;
            padding: 1.5rem;
            color: white;
            text-align: center;
        }
    }
    &__links {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-self: center;
        flex-wrap: wrap;

        a {
            font-size: $font-sm;
            font-weight: 700;
            margin-right: 2rem; 
        }
    }
    &__join {

    }

    &.open {
        .header__hamburger {
          > span:first-child {
            transform: rotate(45deg);
          }
          
          > span:nth-child(2) {
            opacity: 0;
          }
          
          > span:last-child {
            transform: rotate(-45deg);
          }
        }
    }
}
