.hero {
    //border: 1px solid red;
    
    @include breakpoint-down(medium) {
        padding: 0px;
    }

    .container {
        @include breakpoint-up(large) {
            display: flex;
            align-items: flex-start;
        }
    }

    &__image {
        //border: 1px solid greenyellow;
        position: relative;
        background-image: url('/images/illustration-working.svg');
        background-repeat: no-repeat;
        min-height: 21.25rem;
        width: 110%;
        background-size: cover;
        background-position: center left;
        left: 7%;

        @include breakpoint-up(medium){
            min-height: 30.3125rem;
            height: 100%;
            width: 90%;
            background-size: 100%;
            background-position: 50% 20%;
        }
      
        @include breakpoint-up(large){
            flex: 3;
            order: 2;
            min-height: 30.3125rem;
            background-image: none;
            margin-bottom: 4rem;
        }

        &::before { 
            @include breakpoint-up(large){
              content: "";
              position: absolute;
              height: 100%;
              background-image: url('/images/illustration-working.svg');        
              background-repeat: no-repeat;
              background-position: center bottom;
              width: 130%;
              background-size: 100%;
              background-position: 0% 50%;
              left: -10%;
            }
        }

    }
    &__text {
        //border: 1px solid red;
        align-self: center;
        text-align: center;

        @include breakpoint-down(medium) {
            //padding: 2.5rem;
        }

        @include breakpoint-up(large){
          flex: 3;
          order: 1;
          text-align: left;
        }
        p {
            //border: 1px solid greenyellow;
            @include breakpoint-up(large){
                margin: 0px 0px 35px 0px;
            }
        }
        button {
            height: 55px;
            width: 60%;
            margin: 0.9375rem 0px 6rem 0px;

            @include breakpoint-up(large) {
                height: 50px;
                width: 40%;
                margin: 0px;
            }
        }
    }
}