.statistics {
    background-color: rgb(243, 241, 248);
    .shorten {
        &__form {
            background-image: url('/images/bg-shorten-mobile.svg');
            background-position: 60% 200%;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 8px;
            background-color: $darkViolet;

            min-height: 9rem;
            padding: 30px;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex: 1;

            @include breakpoint-up(large) {
                background-image: url('/images/bg-shorten-desktop.svg');
                background-position: 0% 20%;
                flex-direction: row;
                gap: 20px;
                transform: translateY(-50%);
            }
        }
        &__label {
            font-size: 0.9rem;
            color: $red;
            font-style: italic;
            display: none;

            @include breakpoint-up(large) {
                position: absolute;
            }
        }
        &__text {
            flex: 4;
            font-family: inherit;
            font-size: 15px;
            border-radius: 8px;
            width: 100%;
            border: none;
            padding: 0.75rem 1.25rem;

            @include breakpoint-up(large) {
                width: 75%;
                padding: 1.2rem 1.25rem;
            }
        }
        .invalid-input {
            border: 2px solid $red;

            &::placeholder {
                color: $red;
                opacity: 0.7;
            }
        }
        .invalid-msg {
            align-self: flex-start;
            display: block;

            @include breakpoint-up(large) {
                align-self: flex-end;
                transform: translateY(0.8rem); 
                left: 3%;
            }
        }
        .button, .button-bckg { border-radius: 8px; }
        .button-bckg {
            background-color: white;
            flex: 1;
            margin-top: 10px;
            height: 2.8rem;
            width: 100%;

            .submit__btn {
                border-radius: 8px;
                height: 100%;
                width: 100%;
            }

            @include breakpoint-up(large) {
                height: 3.8rem;
                margin-top: 0px;
            }
        }
        &__output {
            display: flex;
            flex-direction: column;
            gap: 20px;
            transform: translateY(-3rem);

            &-box {
                background-color: white;
                padding: 18px 18px;
                border-radius: 8px;
                
                p {
                    font-size: $font-sm;
                    
                }

                @include breakpoint-up(large) {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 5px 15px;
                    gap: 4rem;
                }

                .input__link {
                    color: $veryDarkViolet;
                    overflow: hidden;
                    white-space: nowrap;

                    p { 
                        line-height: 0; 
                        padding-bottom: 0.5rem;
                    }

                    @include breakpoint-up(large) {
                        flex: 3;

                        p { 
                            line-height: 1.5; 
                            padding-bottom: 0rem;
                        }
                    }
                }
                .line { margin: 0px;}
                .output__link {
                    color: $cyan;

                    .copy-btn {
                        width: 100%;
                    }

                    @include breakpoint-up(large) {
                        flex: 1;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 20px;
    
                        p { 
                            flex: 4; 
                        }
    
                        .copy-btn {
                            flex: 1;
                            height: 70%;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &__text {
        text-align: center;
        width: 80%;

        @include breakpoint-up(large) {
            width: 55%;
            margin-bottom: 3.125rem;
        }
    }
    &__cards {
        padding-top: 0rem;

        @include breakpoint-up(large) {
            display: flex;
            flex-direction: row;
            padding-bottom: 12rem;
            padding-top: 2.5rem;
            gap: 35px;
        }
    }
    &__card {
        z-index: 1;
        position: relative;
        text-align: center;

        &:not(:last-child){
            margin-bottom: 1rem;
        }

        @include breakpoint-up(large) {
            text-align: left;

            &:not(:last-child){
                margin-bottom: 0rem;
            }

            &:nth-child(2) {
                transform: translateY(15%);
            }

            &:nth-child(3) {
                transform: translateY(30%);
            }
        }
    }
    .card {
        background-color: white;
        padding: 3.5rem 2rem 1rem 2rem;
        border-radius: 10px;
        
        &__text {
            p {
                font-size: $font-sm;
            }
        }
    }
    &__card__img {
        background-color: $darkViolet;
        width: 30%;
        border-radius: 50%;
        padding: 1.7rem;
        text-align: center;
        transform: translateY(50%);
        margin: 0 auto;
        
        img {
            width: 100%;
        }

        @include breakpoint-up(medium) {
            padding: 1rem;
            width: 11%;           
        }

        @include breakpoint-up(large) {
            position: absolute;
            padding: 1rem;
            width: 23%;           
            transform: translate(40%, -50%);
        }
    }
    &__line {
        height: 80%;
        position: absolute;
        border-left: 10px solid $cyan;
        left: 49.5%;
        transform: translateY(-55rem);

        @include breakpoint-up(large) {
            border-left: none;
            height: 15px;
            width: 60%;
            left: 15%;
            background-color: $cyan;
            transform: translate(0, 9rem);
        }
    }
}